body {
  background-color: #5b5b5b;
  color: yellow; }

.container-fluid {
  background-color: #e6e6e6;
  padding: 10px;
  margin: 10px;
  border: 1px solid #454545;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px; }
